*{box-sizing: border-box}

.headers{
  height: 128px;
  text-align: center;
  h1{
    margin: 40px 0 0;
    display: inline-block;
    a{
      width: 185px;
      height: 49px;
      line-height: 49px;
      img{
        width: 185px;
        height: 49px;
      }
    }
  }
}

.mainsss {
  margin: 0 auto;
  width: 700px;
  background-color: white;
  height: auto;
  .main-1 {
    line-height: 100px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
  .main-2 {
    height: 150px;
    padding: 30px 10px;
    &__middle {
      height: 90px;
      width: 300px;
      margin: 0 auto;
      display: flex;
      .imgss {
        width: 90px;
        height: 90px;
        padding: 10px;
      }
      &__items {
        margin: 0 0 0 auto;
        font-size: 15px;
        width: 200px;
        height: 90px;
        .item-name {
          margin: 0;
          line-height: 1.5;
          text-align: left;
          margin-bottom: 15px;
        }
        .item-price {
          text-align: left;
          display: flex;
          font-weight: bold;
          .qqqq {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .main-3 {
    height: auto;
    padding: 32px 16px;
    &__bottom {
      height: auto;
      margin: 0 auto;
      width: 300px;
      &__top {
        border-bottom: solid 1px;
        &__top {
          display: flex;
          p {
            font-size: 20px;
            font-weight: bold;
          }
          .price {
            width: 180px;
            margin: 0 0 0 auto;
            text-align: right;
            font-size: 20px;
            span {
            font-size: 25px;
            font-weight: bold;
            }
          }
        }
        &__bottom {
          margin: 24px 0 32px;
          .label {
            color: gray;
          }
        }
      }
      &__middle {
        width: 300px;
        padding: 30px 0 30px;
        border-bottom: solid 1px;
        p {
        font-size: 15px;
        font-weight: bold;
        }
        .iconss {
          display: flex;
          color: lightblue;
          line-height: 10px;
          margin-top: 10px;
        }
      }
      &__bottom {
        width: 300px;
        padding: 30px 0 30px;
        border-bottom: solid 1px;
        p {
        font-size: 15px;
        font-weight: bold;
        }
        .iconss {
          display: flex;
          color: lightblue;
          line-height: 10px;
          margin-top: 10px;
        }
      }
    }
  
    .main4 {
      margin-top: 20px;
      p {
        text-align: center;
        line-height: 45px;
        background-color: gray;
        color: white;
        width: 400px;
        margin: 0 auto;
      }
    }
  }
}

.footers {
  height: 200px;
  text-align: center;
  nav{
    ul{
      padding: 0;
      margin: 0;
      li{
        list-style: none;
        display: inline-block;
        font-size: 7px;
      }
    }
  }
  a{
    text-decoration: none;
    color: #333;
    display: block;
    margin: 40px auto 0;
    img{
      width: 185px;
      height: 49px;
    }
  }
  p{
    margin: 8px 0 0;
  }
}